
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700);

html, body{
  height:100%;
  font-family:'Open Sans';
  margin:0;
  font-weight:300;
  position:relative;
  &:before, &:after{
    content:'';
    z-index:-1;
    display:block;
    position:absolute;
    width:50%;
    height:50%;
    box-shadow:inset 0 0 50px rgba(black, .2);
  }
}

html{
  
  &:before{
    background:#E84D5B;
  }
  &:after{
    background:#F5ECD9;
    top:50%;
  }
}

body{
  display:flex;
  align-items:center;
  justify-content:center;
  &:before, &:after{
    left:50%;
  }
  &:before{
    background:#F5ECD9;
  }
  &:after{
    background:#E84D5B;
    top:50%;
  }
}

h1, p{
  margin:0;
  font-weight:300;
}
h1{
  font-size:3.35em;  
}
p{
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:2px;
  font-size:.8em;
}

.intro{
  text-align:center;
  padding:2em;
  border-radius:10px;
  background:rgba(#fff, .9);
}
span{
  display:block;
  margin-top:.5em;
}

.button{
  color:#fff;
  text-decoration:none;
  background:#2BACB5;
  display:inline-block;
  position:relative;
  padding:1em;
  margin-top:1em;
  border-radius:5px;
  box-shadow:0px 3px 0px darken(#2BACB5,20%);
  &:active{
    box-shadow: 0px 1px 0px darken(#2BACB5, 20%);
    transform:translateY(2px);
  }
}
