.btn {
  background: #f04057;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  border-radius: 3px;
  margin: 1em 0;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  border: none;
  font: inherit;
  outline: none;
}

.btn.alternate {
  background: #1cb1a9;
}

[data-disabled="true"].btn {
  background: #fbcfd6;
  cursor: not-allowed;
}
